<!DOCTYPE html>
<html >
<head>
  <meta charset="UTF-8">
  <title>Welding Property Prediction</title>
  <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Arimo' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Hind:300' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
  
</head>

<body style="background: #000;">
 <div  style="overflow-y: auto; width: 800px;">
	<h1>Welding Material Property Prediction</h1>

     <!-- Main Input For Receiving Query to ouru ML -->

     <select name= models method="GET" action="/">
      {% for model in models %}
      <option value= "{{model}}" SELECTED>{{model}}</option>"
      {% endfor %}
  </select>

  <select name= props method="GET" action="/">
    {% for prop in props %}
    <option value= "{{prop}}" SELECTED>{{prop}}</option>"
    {% endfor %}
</select>

    <form action="{{ url_for('predict')}}"method="post">


      {% for name in names %}
      
            <input type="text" name= "{{name}}"placeholder="{{name}}" /> 
          
      {% endfor %}
  
        <button type="submit" class="btn btn-primary btn-block btn-large">Predict property</button>
    </form>

   <br>
   <br>
   {{ prediction_text }}

 </div>


</body>
</html>
